--index-url https://mirrors.aliyun.com/pypi/simple/

mss
Pillow
pywin32

rapidocr==3.6.0
onnxruntime-directml==1.24.2
opencv-python

transformers>=4.30.0
torch
chromadb>=0.4.0

numpy<2.0.0
psutil
pywinauto
